body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

#main-text {
    font-size: 72px;
    transition: all 0.5s ease;
}

.hidden {
    display: none;
}

#get-boosted-button {
    font-size: 24px;
    padding: 10px 20px;
    background: linear-gradient(45deg, purple, darkviolet);
    color: white;
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, select, #total-price {
    margin: 10px 0;
}

input, select {
    padding: 5px;
    font-size: 16px;
}

button[type="submit"] {
    font-size: 18px;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}
